.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3px;
    background-color: aqua;
    width: 1000px;
}

.row {
    background-color: darkred;
    flex: 1;
}

.row-hovered {
    background-color: black;
}