.container {
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    background-color: aqua;
    /* width: 1000px; */
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    background-color: darkred;
    height: 25px;
    /* flex: 1; */
}

.row-hovered {
    background-color: black;
}